body{
    font-family: Arial, sans-serif;

}

h1{
    background-color: black;
    color: white;
}

h4{
margin-top: 20px;
margin-bottom: 10px;

}

input{
    width:300px;
    margin-top: 10px;
 
}

button{
    float: right;
    background-color: brown;
}